body {
    font: 10px sans-serif;
}

path {
    stroke: gray;
    stroke-width: 0.5;
    stroke-opacity: 0.3;
    fill: none;
    shape-rendering: geometricPrecision;
}

.sline {
    stroke: black;
    stroke-width: 2;
    stroke-opacity: 0.6;
    fill: none;
    shape-rendering: geometricPrecision;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.boundingCircle {
    stroke: black;
    stroke-width: 0.5;
    stroke-opacity: 1.0;
    stroke-dasharray: 5 3;
    fill: none;
}

.heatmap-canvas {
    opacity: 0.1;
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
}

#heading {
    padding: 20px 100px;
    background-color: rgb(220, 220, 220);
}

.block {
    height: 100%;
    padding: 10px;
}

.footstepchart {
    height: 500px;
    width: 500px;
}

.speedchart {
    width: 300px;
    height: 300px;
}

.colcell {
    padding: 20px;
}

.videocontainer {
    height: 200px;
}

.inputdiv {
    width: 150px;
    margin: 0 5px;
}

.inputdropdowndiv {
    width: 100px;
    margin: 0 5px;
}

.mylabel {
    line-height: 25px;
}